# Dependency directories
node_modules/

# Gatsby build output
/public
/.cache
/functions

# dotenv environment variables file
.env*
!.env.example

# System files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
