.button {
  text-decoration: none;
  text-align: center;
  color: #333;
  display: block; /* Make the button fill its container */
  padding: 5px 10px; /* Add some padding */
  border: 1px solid #dddddd77; /* Add transparent border */
  border-radius: 5px; /* Slightly round corners */
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin-right: 1rem;
}

.button:hover, .button:focus {
  background-color: #003366; /* Change background on hover/focus */
  border-color: #ddd; /* Change border color */
  color: white
}

.button.active { /* Use the 'active' class for active state */
  color: #003366; /* Example active button color */
  border-color: #003366; /* Example active button border color */
}