.container {
    margin: auto;
    max-width: 90%;
    font-family: 'Open Sans';
    background-color: #F5F5F5;
}

.heading {
  font-family: 'Montserrat', serif;
  font-weight: 500;
  color: #003366;
  line-height: 1.2;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}

.site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
  }