.container {
    margin: auto;
    max-width: 90%;
    font-family: sans-serif;
}

.heading {
  font-family: 'Merriweather', serif;
  color: rebeccapurple;
}

.site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
  }