.post-carousel {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  justify-content: flex-start;
  scroll-snap-type: x mandatory;
  overflow-y: hidden; /* Add this to prevent vertical overflow */
  margin: 0 auto; /* Center carousel if needed */
  scroll-behavior: smooth; /* Smooth scrolling */
}

.post-carousel > * {
  flex: 0 0 auto;
  width: 300px;
  margin-right: 10px;
  scroll-snap-align: start;
  min-height: 300px; /* Set a min-height for consistency */
}
  
  .post-carousel::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
  
  .post-carousel {
    -ms-overflow-style: none; /* for IE and Edge */
    scrollbar-width: none; /* for Firefox */
  }
  
  @media (max-width: 600px) {
    .post-carousel > * {
      width: 250px; 
    }
  }
  
  @media (min-width: 1024px) {
    .post-carousel {
      justify-content: center; 
    }
  }